* { /* 기본 스타일 시트 초기화 */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* border-box로 초기화 */
}

body{ /* 배경 색상 : #1f1f1f */
    background-color: #1f1f1f;
    display: flex;
    justify-content: center; /* 계산기 위치 조정 */
    align-items: center;     /* 가운데로 위치 */
    height: 100vh;
}

/* 테두리 : 1px solid #333, 패딩 5px */
.calculator{
    width: 287px;
    border:1px solid #333;
    background-color: #ccc;
    padding:5px;
}

/* grid-gap:5px, width:65px, height:65px */

.calculator form{
    display: grid;
    grid-template-columns: repeat(4, 65px);
    grid-auto-rows: 65px;
    grid-gap: 5px;
}

.calculator form input{
    border:2px solid #333;
    cursor: pointer; /* 마우스 올렸을때 커서 효과 */
    font-size: 20px;
}

.calculator form input:hover{
    box-shadow: 1px 1px 2px #333; /* 음영 */
}

.calculator form .clear{
    background-color: #ed4848;
}

.calculator form .operator{
    background-color: skyblue;
}

.calculator form .dot{
    background-color: green;
}
/* 필요 디자인 픽셀(총 287px)
왼쪽 테두리 1px
왼쪽 패딩 5px
버튼 65px
그리드갭 5px
버튼 65px
그리드갭 5px
버튼 65px
그리드갭 5px
버튼 65px
오른쪽 패딩 5px
오른쪽 테두리 1px
*/

.calculator form input[type='text']{
    grid-column: span 4; /* 칸 4칸 차지 */
    text-align: right; /* 우측 정렬 */
    padding: 0 10px; /* 좌우 간격 */
}

.calculator form .clear{
    grid-column: span 3; /* 그리드 칸 3칸 차지 */
}

.calculator form .result{
    grid-column: span 2;
}
